b {
  font-size: inherit;
}

button{
  cursor: pointer;
}

line {
  stroke: transparent;
  stroke-width: 15px;
}

.Game {
  display: flex;
  justify-content: flex-start;
}

.GamePanel {
  margin-left: 200px;
  width: 30%;
}
