.Hill {
  background-color: #de5b1e;
}

.Hill:before,
.Hill:after {
  border-top-color: #de5b1e;
  border-bottom-color: #de5b1e;
}

.Pasture {
  background-color: #6aa427;
}

.Pasture:before,
.Pasture:after {
  border-top-color: #6aa427;
  border-bottom-color: #6aa427;
}

.Mountain {
  background-color: #9e9e9e;
}

.Mountain:before,
.Mountain:after {
  border-top-color: #9e9e9e;
  border-bottom-color: #9e9e9e;
}

.Field {
  background-color: #f0b747;
}

.Field:before,
.Field:after {
  border-top-color: #f0b747;
  border-bottom-color: #f0b747;
}

.Forest {
  background-color: #275735;
}

.Forest:before,
.Forest:after {
  border-top-color: #275735;
  border-bottom-color: #275735;
}

.Desert {
  background-color: #ebcf99;
}

.Desert:before,
.Desert:after {
  border-top-color: #ebcf99;
  border-bottom-color: #ebcf99;
}

.BackgroundRed {
  background-color: red;
  border-color: black;
}

.BackgroundBlue {
  background-color: blue;
  border-color: black;
}

.BackgroundGreen {
  background-color: green;
  border-color: black;
}

.BackgroundYellow {
  background-color: goldenrod;
  border-color: black;
}

.StrokeRed {
  stroke: red;
}

.StrokeBlue {
  stroke: blue;
}

.StrokeGreen {
  stroke: green;
}

.StrokeYellow {
  stroke: goldenrod;
}

.StrokeHighlighted {
  stroke: #9dd2b5;
}

.TextRed {
  color: red;
}

.TextBlue {
  color: blue;
}

.TextGreen {
  color: green;
}

.TextYellow {
  color: goldenrod;
}
